GATSBY_SANITY_PROJECT_ID="4t789e8u"
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN="sk1ld2FGhJiJSISxd6puYCK5chgyLe96HFOfI4hIa7LGHHrKfOkJGfEIiJdcHh3mShTIMUw97BLwTyW6wKexR5acAv9TCrwtUOhaFcYQkY2CWyvud3dWlM5tkp1mD5POZzss1h7cP1U5ZwhTZ8oKQ4Dmxj2OWzHINUn8qGX3brQUiDMoWZHQ"
